a {
    text-decoration: none;
}
i{
    vertical-align: middle;
    font-size: 24px;
}

.main-fab {
    position:absolute;
    z-index:20;
    font-size:30px;
    top:100px;
    left:24px;
    transform:scale(.88,.88);
}

.md-breadcrumb {
    padding-left:88px;
}

.JCLRgrip:first-child {
    left:105px!important;
    display: none!important;
}

.JColResizer th:first-child {
    width: 105px!important;
}

.md-table {
    min-width: 100%;
    border-collapse: collapse;
}

.md-table tbody tr:hover, .md-table tbody tr:focus {
    cursor:pointer;
    background-color:rgba(63,81,181,0.2);
}

.md-table-header {
    border-bottom: 1px solid rgb(230,230,230);
    color: rgb(130,130,130);
    text-align: left;
    font-size: 0.75em;
    font-weight: 700;
    padding: 16px 16px 16px 32px;
}

.md-table-header a{
    text-decoration: none;
    color: inherit;
}

.md-table-content {
    white-space: nowrap;
    font-size: 0.8em;
    padding: 16px 16px 16px 0;
    height: 72px;
}


.md-table-thumbs {
    padding: 0px 32px;
}

.md-table-footer {
    height:40px;
    padding-left: 32px;
    padding-right: 32px;
}

.md-table-count-info {
    line-height:38px;
    font-size:.75em;
    white-space: nowrap;
}

.md-table-count-info>a{
    display: inline-block;
    margin:0px;
    padding:0px;
    width:26px;
    text-align: center;
}
.md-table-count-info>a:last-child{
    margin-left:10px;
}
.md-table-count-info>a:last-child>span{
    display: inline-block;
    margin:0px;
    padding:0px;
    width:20px;
    font-weight: 600;
    text-align: center;
}
.md-table-footer-item {
    width: 40px;
    height: 40px;
    vertical-align:middle;
}

.md-table-active-page {
    font-weight: 700;
}

.bold {
    font-weight: 700;
}

.grey {
    color: grey;
}

.table_header_search.md-default-theme .md-input {
    color: white;
    border-color: white;
    margin-top: 24px;
}

/*klt add*/
.md-table-footer .md-button, #project_config_panel .md-table-td-more .md-button{
    min-width:0px;
    outline: 0;
    border: 0;
    padding: 6px;
    margin: 0;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

.md-table-headers-row>th:first-child ,.md-table-content-row>td:first-child{
    padding-right:20px;
}

.md-table-content{
    padding: 0  0 0 32px;
    height: 32px;
    font-size:1em;
}
.main-fab {
    top:30px;
}
#project_config_panel .md-table-td-more {
    max-width:170px;
    padding:8px;
}
md-toolbar{
    position: relative;
}
/****************************************  project-config ****************************************/

#project_config_panel md-sidenav{
    width: 35%;
    min-width: 35%;
    max-width: 35%;

}
/****************************************  project-common  table-common****************************************/
.table_he_button.md-button{
    min-width:0px;
    outline: 0;
    border: 0;
    padding: 6px 10px;
    margin: 0;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

.md-table-count-info  .table_pactive{
    font-size: 15px;
    font-weight:600;
}